<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="addLesson()">
        <mat-icon class="add-course-btn">add</mat-icon>
    Add Row</button>
    <button mat-raised-button color="primary" (click)="updateValue()">
            Create & Add Value
          </button>
  </div>
</section>

<form class="example-form" [formGroup]="form" novalidate>
  <ng-container formArrayName="lessons">
    <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
      <div class="lesson-form-row" [formGroup]="getFormGroupAt(i)">
        <mat-form-field appearance="standard">
          <input matInput
                           formControlName="title"
                           placeholder="Lesson title">
        </mat-form-field>
        <button mat-mini-fab (click)="deleteLesson(i)">
        <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </ng-container>
  </ng-container>
</form>