<mat-card class="example-card">
  <mat-card-content>
    <form
      [formGroup]="reactiveForm"
      (ngSubmit)="onSubmit()"
      novalidate
      class="example-form"
    >
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="standard">
            <mat-label> Name </mat-label>
            <input matInput placeholder="Name​" formControlName="name" />
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="standard">
            <mat-label> Email </mat-label>
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="standard">
            <mat-label> Phone </mat-label>
            <input matInput placeholder="Email" formControlName="phone" />
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="notificationType"
          >
            <mat-radio-button value="email">Email</mat-radio-button>
            <mat-radio-button value="text">Text</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <br />
      <section>
        <div class="example-button-row">
          <button mat-raised-button type="submit" *ngIf="reactiveForm">
            Submit
          </button>
        </div>
      </section>
    </form>
  </mat-card-content>
</mat-card>

<br />Dirty: {{ reactiveForm.dirty }} <br />Touched: {{ reactiveForm.touched }}
<br />Valid: {{ reactiveForm.valid }} <br />Value:
{{ reactiveForm.value | json }}
