<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

  <label>
     Name:
    <input type="text" formControlName="name">
  </label>
  <br><br>
  <label>
    Password:
    <input type="password" formControlName="password">
  </label>
  <br><br>
  <div formGroupName="address">
    <label>
    Street:
    <input type="text" formControlName="street">
  </label>
    <br><br>
    <label>
    City:
    <input type="text" formControlName="city">
  </label>
    <br><br>
  </div>
  <button type="submit" [disabled]="!reactiveForm.valid">Submit</button>
  <button (click)="updateValue()">Update Form Value</button>
  <button (click)="setValue()">Set form field value</button>
</form>